body{ 
    background-color:   #52066b ;


}

.a {
    color: rgb(119, 185, 119); 
    text-align: center;
}

.pic{
    text-align: center;

}

.button{
    background-color: black;
}

.nobitches{
    text-align: center;
}